{% extends 'users/base.html' %}

{% block content %}
<h3>{{ assignment.title }} - Quiz</h3>
<form method="post">
    {% csrf_token %}
    {% for q in assignment.questions.all %}
        <div class="card mb-3">
            <div class="card-header">{{ forloop.counter }}. {{ q.text }}</div>
            <div class="card-body">
                {% for choice in q.choices.all %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question_{{ q.id }}" value="{{ choice.id }}" id="choice_{{ choice.id }}">
                        <label class="form-check-label" for="choice_{{ choice.id }}">
                            {{ choice.text }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success btn-lg">Submit Answers</button>
</form>
{% endblock %}
